<html>
	<head>
        <meta charset="UTF-8" />
        <title>Exibir Animais</title>
		<link rel="stylesheet" href="reset.css" />
		<link rel="stylesheet" href="style.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
			rel="stylesheet"
        />
    </head>
	<body>
		<header>
			<div>
				<h1><img src="logo.png" /></h1>
			</div>
		</header>
			<div th:each="animal : ${animais}">
				<div th:text="${animal.nomeAnimal}">Nome do Animal</div>
                    <div>Especie: <span th:text="${animal.especie}">Cão</span></h2>
                    <div>Raça: <span th:text="${animal.raca}">Labrador</span></div>
                    <div>Sexo: <span th:text="${animal.sexo}">F</span></div>
                    <div>Dono: <span th:text="${animal.dono}">José</span></div>
					<div>Data Nascimento: <span th:text="${animal.dataNascimentoAnimal}">2020-01-01</span></div>		
				</div>
			</div>
		</div>
	</body>
</html>