<!DOCTYPE html>

<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<title>Cadastrar Animal</title>
		<link rel="stylesheet" href="reset.css" />
		<link rel="stylesheet" href="style.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<header>
			<div>
				<h1><img src="logo.png" /></h1>
			</div>
		</header>
		<main>
			<form action="/animal/novo" method="POST">
				<label for="nomeAnimal">Nome</label>
				<input name="nomeAnimal" type="text" class="input-padrao" required />

				<label for="dono">Dono</label>
				<input name="dono" type="text" class="input-padrao" required />

				<label for="especie">Espécie</label>
				<input name="especie" type="text" class="input-padrao" required />

				<label for="raca">Raça</label>
				<input name="raca" type="text" class="input-padrao" required />

				<label for="sexo">Sexo</label>
				<input name="sexo" type="text" class="input-padrao" required />

				<label for="dataNascimentoAnimal">Nascimento</label>
				<input
					name="dataNascimentoAnimal"
					type="text"
					class="input-padrao"
					required
				/>

				<input type="submit" value="Cadastrar" class="enviar" />
			</form>
		</main>
	</body>
</html>
