body {
	font-family: "Source Sans Pro", sans-serif;
}

header {
	background: linear-gradient(to right, #296268, #49b1bc);
	width: 100%;
}

h1 img {
	width: 8%;
	height: 8%;
	margin: 5px 5px 5px 20px;
	text-align: center;
}

nav {
	position: absolute;
	top: 50px;
	left: 50px;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
	position: fixed;
	top: 45px;
	right: 50px;
}

nav a {
	color: #ffffff;
	font-size: 18px;
	text-decoration: none;
}

form {
	margin: 40px 0;
	text-align: center;
}

form label,
form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: inline-block;
	margin: 0 0 20px;
	padding: 5px 5px;
	width: 200px;
	text-align: center;
}

.cadastrar {
	width: 200px;
	padding: 5px 0;
	background: linear-gradient(to right, #296268, #49b1bc);
	color: white;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s background;
	cursor: pointer;
	position: absolute;
	top: 320px;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cadastrar:hover {
	background: linear-gradient(to right, #49b1bc, #296268);
}

h2 {
	text-align: center;
}

.banner {
	display: block;
	margin-top: 35px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	max-width: 450px;
	max-height: 450px;
	width: auto;
	height: auto;
}
