<!DOCTYPE html>

<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<title>Cadastrar Cliente</title>
		<link rel="stylesheet" href="reset.css" />
		<link rel="stylesheet" href="style.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<header>
			<div>
				<h1><img src="logo.png" /></h1>
			</div>
		</header>
		<main>
			<form action="/cliente/novo" method="POST">
				<label for="nomeCliente">Nome</label>
				<input name="nomeCliente" type="text" class="input-padrao" required />

				<label for="rgCliente">RG</label>
				<input name="rgCliente" type="text" class="input-padrao" required />

				<label for="cpfCliente">CPF</label>
				<input name="cpfCliente" type="number" class="input-padrao" required />

				<label for="emailCliente">E-mail</label>
				<input
					name="emailCliente"
					type="email"
					class="input-padrao"
					required
					placeholder="cliente@seudominio.com"
				/>

				<label for="celularCliente">Celular</label>
				<input
					name="celularCliente"
					type="tel"
					class="input-padrao"
					required
					placeholder="(XX)XXXXX-XXXX"
				/>

				<label for="telefoneCliente">Telefone</label>
				<input
					name="telefoneCliente"
					type="tel"
					class="input-padrao"
					required
					placeholder="(XX)XXXXX-XXXX"
				/>

				<label for="enderecoCliente">Endereço</label>
				<input
					name="enderecoCliente"
					type="text"
					class="input-padrao"
					required
				/>

				<label for="complementoCliente">Complemento</label>
				<input
					name="complementoCliente"
					type="text"
					class="input-padrao"
					required
				/>

				<label for="numeroResidenciaCliente">Número</label>
				<input
					name="numeroResidenciaCliente"
					type="number"
					class="input-padrao"
					required
				/>

				<label for="cidadeCliente">Cidade</label>
				<input name="cidadeCliente" type="text" class="input-padrao" required />

				<label for="estadoCliente">Estado</label>
				<input name="estadoCliente" type="text" class="input-padrao" required />

				<label for="cepCliente">CEP</label>
				<input name="cepCliente" type="number" class="input-padrao" required />

				<input type="submit" value="Cadastrar" class="enviar" />
			</form>
		</main>
	</body>
</html>
