<html>
	<head>
        <meta charset="UTF-8" />
        <title>Exibir Clientes</title>
		<link rel="stylesheet" href="reset.css" />
		<link rel="stylesheet" href="style.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
			rel="stylesheet"
        />
    </head>
	<body>
		<header>
			<div>
				<h1><img src="logo.png" /></h1>
			</div>
		</header>
	
	    <main>
			<div th:each="cliente : ${clientes}">

                <div th:text="${cliente.nomeCliente}">Nome do Cliente</div>
                
                <div>RG: <span th:text="${cliente.rgCliente}">00.000.000-0</span></h2>
                <div>CPF: <span th:text="${cliente.cpfCliente}">00000000000</span></h2>
                <div>E-mail: <span th:text="${cliente.emailCliente}">cliente@seudominio.com</span></h2>
                <div>Celular: <span th:text="${cliente.celularCliente}">(xx)xxxxx-xxxx</span></h2>
                <div>Telefone: <span th:text="${cliente.telefoneCliente}">(xx)xxxxx-xxxx</span></h2>
                <div>Endereço: <span th:text="${cliente.enderecoCliente}">Rua</span></h2>		
                <div>Complemento: <span th:text="${cliente.complementoCliente}">Complemento</span></h2>	
                <div>Número: <span th:text="${cliente.numeroResidenciaCliente}">123</span></h2>
                <div>Cidade: <span th:text="${cliente.cidadeCliente}">Cidade</span></h2>	
                <div>Estado: <span th:text="${cliente.estadoCliente}">Estado</span></h2>
                <div>CEP: <span th:text="${cliente.cepCliente}">00000000</span></h2>
		    </div>
        </main>
    </body>
</html>
