body {
	font-family: "Source Sans Pro", sans-serif;
	background-color: #EAEAEA !important;
 }
  
 img {
	background: none;
	max-width: 100%;
}

/* Nav bar */

nav div {
	background: linear-gradient(to right, #296268, #49b1bc);
	width: 100% !important;
	height: 15vh !important;
	line-height: 15vh;
} 
  
nav img {
	width: 100px;
	margin: auto;
	padding: 10px !important;
}
nav ul{
	display: inline-block;
}
nav ul li {
	padding: 0 1em !important;
}
  
/* header index */
 
 header {
	width: 100vw;
	height: 85vh;
	display: flex !important;
	justify-content: center;
	padding: 5em;
}
header img {
	width:400px;
	height:400px;
}
  
/* Form login */
  
.formulario {
	width: 100vw;
	height: 85vh;
	display: flex !important;
	justify-content: center;
	align-items: center;
}
  
  
.div__form {
	display: flex;
	flex-flow: column;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	border-radius: 8px;
	background: rgb(73,177,188);
	background: radial-gradient(circle, rgba(73,177,188,1) 0%, rgba(41,98,104,1) 100%);
}
  
.div__form h4 {
	text-align: center;
	color: #FFF;
}

.div__form span {
	  display: block;
}

.div__form i {
	  color: #FFF;
	  font-size: 20px;
	  padding-left: 15px;
}

.div__form input[type=text] {
	margin: 1em;
}

.div__form input[type=submit] {
	width: 100%;
	margin: 1em auto;
	border-radius: 10px;
	background-color: #FAFAFA;
}

/* Nav vertical */

.nav__vertical {
	top: 0;
	left: 0;
	height: 100vh;
	width: 20vw;
	background-color: #296268;
	position: fixed;
}

.nav__vertical .nav__logo {
	width: 100%;
	display: block;
	text-align: center;
}
.nav__vertical .nav__logo img {
	position: initial !important;
	margin-top: .5em;
}

.nav__vertical ul {
	width: 100%;
}

.nav__vertical ul li {
	margin: auto;
	float: none;
	text-align: center;
}

/* pagina inicial */

.body__inicial .tabela {
	height: 100%;
	width: 80vw;
	margin-left: 25%;
}

.body__inicial .tabela .search-container form {
	overflow: hidden;	
	margin-top: 10%;
	background-color: #FFF;
	display: flex;
}
.body__inicial .tabela .search-container input[type=text] {
	font-size: 17px;
	border: none;
	text-align: center;
}
.body__inicial .tabela .search-container button {
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
	background-color: #296268;
	padding: 1em;
}
.body__inicial .row .col {
	padding: 0rem !important;
}

.body__inicial .tabela ul {
	background-color: #296268;
	display: flex;
	margin-right: 20%;
	padding: 1em;
}
.body__inicial .tabela ul li a {
	color: #FFF;
	padding: 0 4em;
}

/* Cadastro */

.cad {
	margin: 2em 25%;
	display: block;
}

.cad form input[type=submit] {
	color: #FFF;
	padding: 1em 8em;
	margin: 3em auto;
	border-style: none;
	background: rgb(73,177,188);
	background: radial-gradient(circle, rgba(73,177,188,1) 0%, rgba(41,98,104,1) 100%);
}

/* Cadastro Animal */

/* Cadastro Vet */

.body__cadVet .cad .row {
	margin-bottom: 0px !important;
}