<!DOCTYPE html>

<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	lang="pt-br"
>
	<head>
		<meta charset="UTF-8" />
		<title>Clínica Veterinária</title>
		<link rel="stylesheet" href="style/reset.css" />
		<link rel="stylesheet" href="style/style.css" />
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
			integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
			crossorigin="anonymous"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"
		/>
	</head>

	<body>
		<nav>
			<div class="nav-wrapper">
				<a href="/home"
					><img src="style/logo.png" alt="Logo" class="brand-logo left"
				/></a>
				<ul class="right">
					<li><a href="#">Resultados Exames</a></li>
					<li><a href="#">Fale conosco</a></li>
					<li><a href="/login">Login Clínica</a></li>
				</ul>
			</div>
		</nav>

		<header>
			<img src="style/banner.png" alt="banner" />
		</header>

		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
	</body>
</html>
