<!DOCTYPE html>

<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  lang="pt-br"
>
  <head>
    <meta charset="UTF-8" />
    <title>Clínica Veterinária</title>
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div>
        <h1><img src="logo.png" /></h1>
        <nav>
          <ul>
            <!--<li><a href="resultadosExames.html">Resultados Exames</a></li>
            <li><a href="faleConosco.html">Fale Conosco</a></li>-->
            <li><a href="/cadastrarUsuario">Cadastrar Usuário</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <h2><img class="banner" src="banner.png" /></h2>
    </main>
  </body>
</html>
