<!DOCTYPE html>

<html
  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
  lang="pt-br"
>
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="style/reset.css" />
    <link rel="stylesheet" href="style/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="home"><img src="style/logo.png" alt="Logo" class="brand-logo left"></a>
        <ul class="right">
          <li><a href="home">Home</a></li>
        </ul>
      </div>
    </nav>

    <section class="formulario">
      <div class="div__form">
        <h4>Login</h4>
        <div th:if="${param.error}">
          Usuário ou senha inválidos.
        </div>
        <div th:if="${param.logout}">
          Você foi deslogado.
        </div>
        <form th:action="@{/login}" method="post">
          <div><label for="username"><i class="fas fa-user-alt"></i> Usuário : <input type="text" name="username"/> </label></div>
          <div><label for="senha"><i class="fas fa-lock"></i> Senha: <input type="password" name="password"/> </label></div>
          <div><input type="submit" value="Login" class="cadastrar"/></div>
        </form>
      </div>
    </section>
    
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    
  </body>
</html>